.prism-code-editor {
    height: 100%;
    background-color: transparent;
}

/* Reset padding and margin so that the editor is agnostic to surrounding styles */
.prism-code-editor > .pce-wrapper {
    margin: 0;
}

.pce-line, .pce-textarea {
    padding: 0;
}

@media (hover: hover){.prism-code-editor::-webkit-scrollbar-corner,.prism-code-editor::-webkit-scrollbar-track,.prism-code-editor ::-webkit-scrollbar-corner,.prism-code-editor ::-webkit-scrollbar-track{background:#0000}.prism-code-editor::-webkit-scrollbar,.prism-code-editor ::-webkit-scrollbar{height:1em;width:1em}.prism-code-editor::-webkit-scrollbar-thumb,.prism-code-editor ::-webkit-scrollbar-thumb{background:var(--grey-lighter);width:2em;height:2em}.prism-code-editor::-webkit-scrollbar-thumb:hover,.prism-code-editor ::-webkit-scrollbar-thumb:hover{background:var(--grey-lighter)}.prism-code-editor::-webkit-scrollbar-thumb:active,.prism-code-editor ::-webkit-scrollbar-thumb:active{background:var(--grey-lighter)}}
