.prism-code-editor {
    height: 100%;
    background-color: var(--theme-blue-medium);
}

/* Reset padding and margin so that the editor is agnostic to surrounding styles */
.prism-code-editor > .pce-wrapper {
    margin: 0;
}

.pce-line, .pce-textarea {
    padding: 0;
}