#help {
    overflow-y: scroll;
    background: var(--theme-blue-dark);
    padding: 1rem;
}

#help > h2 {
    margin-top: 0;
}

#help code {
    max-width: 100%;
    background: var(--theme-blue-medium);
    border-radius: 5px;
}

.help__list {
    padding: 0;
    list-style: none;
}

.help__list li {
    margin-bottom: 3rem;
}

#help h2 { 
    color: var(--theme-yellow);
}

#help h3 { 
    color: var(--theme-orange);
}

#help h4 { 
    color: var(--theme-mauve);
}