#help {
    overflow-y: scroll;
    /* background-color: var(--theme-blue-dark); */
    /* var(--theme-blue-dark); in rgba */
    background-color: rgba(13, 17, 23, 0.4);
    padding: 1rem;
}

#help > h2 {
    margin-top: 0;
}

#help code {
    max-width: 100%;
}

.help__list {
    padding: 0;
    list-style: none;
}

.help__list li {
    margin-bottom: 3rem;
}