#docs {
    background-color: var(--black-lighter);
    padding: var(--spacer);
    overflow: hidden;
}

#docs > div {
    overflow-y: scroll;
    height: 100%;
    border-radius: 2.5px;
}

#docs button {
    background: transparent;
    border: none;
    padding: 0;
    margin-right: 1rem;
    cursor: pointer;
}

#docs button > h3 {
    margin-top: 0;
}

#docs .active > h3 {
    color: var(--theme-2)!important;
}

#docs article {
    display: none;
}

#docs article:first-of-type {
    display: block;
}

#docs h2 {
    margin-top: 0;
}

#docs code {
    max-width: 100%;
    background: var(--grey-lighter);
    border-radius: 5px;
    width: 100%;
    overflow: hidden;
}

.docs__list {
    padding: 0;
    list-style: none;
}

.docs__list li {
    margin-bottom: 3rem;
}

#docs h2 { 
    color: var(--theme-2);
}

#docs h3 { 
    color: var(--theme-4);
}

#docs h4 { 
    color: var(--theme-3);
}