:root {
    --theme-blue: #011627;
    --theme-blue-dark: #0d1117;
    --theme-blue-medium: #122d42;
    --theme-blue-light: #75beff;
    --theme-orange: #ef5350;
    --theme-yellow: #ee9d28;
    --theme-mauve: #b180d7;
}

body {
    margin: 0;
    font-family: system-ui, sans-serif;
    background-color: var(--theme-blue-medium);
    color: white;
    padding: 1rem;
    height: calc(100vh - 2rem);
    letter-spacing: 0.02em;
    line-height: 1.4;
}

main {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-family: Consolas,Monaco,Andale Mono,Ubuntu Mono,monospace;
    height: 100%;
}

main > section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 50%;
    overflow: scroll;
}

main > section > div {
    border-radius: 5px;
}

#console {
    height: 100%;
}

#help {
    display: none;
}

@media (min-width: 600px) {
    main {
        flex-direction: row;
    }

    main > section {
        width: 50%;
        height: 100%;
    }
    
    #console {
        height: 40%;
    }
    
    #help {
        height: 60%;
        display: block;
    }
}