:root {
    --theme-blue: #011627;
    --theme-blue-dark: #0d1117;
    --theme-blue-medium: #122d42;
    --theme-blue-light: #75beff;
    --theme-orange: #ef5350;
    --theme-yellow: #ee9d28;
    --theme-mauve: #b180d7;
}

body {
    margin: 0;
    font-family: system-ui, sans-serif;
    background-color: var(--theme-blue-medium);
    color: white;
    padding: 1rem;
    height: calc(100vh - 2rem);
    letter-spacing: 0.02em;
    line-height: 1.4;
}

a {
    color: var(--theme-yellow);
    text-decoration: none;

}

a:hover {
    text-decoration: underline;
}

main {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-family: Consolas,Monaco,Andale Mono,Ubuntu Mono,monospace;
    height: 100%;
}

main {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 100%;
}

main > section {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: 0;
    overflow: hidden;
    gap: 1rem;
}

main > section > div {
    flex: 1;
    min-height: 0;
}

@media (min-width: 600px) {
    main {
        flex-direction: row;
    }

    main > section {
        flex: 1;
    }
}

.help__component {
    position: relative;
}

.help__component input {
    position: absolute;
    top: 1rem;
    right: 1rem;
    border: none;
    padding: 0.5rem 1rem;
    background-color: var(--theme-blue);
    border-radius: 2px;
    outline: none;
    color: white;
    width: 100px;
    
}
.help__component input::placeholder {
    color: white;
}