:root {
    --theme-blue: #011627;
    --theme-blue-dark: #0d1117;
    --theme-blue-medium: #122d42;
    --theme-blue-light: #179fff;
    --theme-orange: #ff5874;
    --theme-yellow: #ecc48d;
    --theme-mauve: orchid;
    --color-white: #ffffff;
    --color-black: #000000;
    --theme-1: Aqua;
    --theme-2: #FFC300;
    --theme-3: #FF7383;
    --theme-4: #FF8419;
    --theme-5: #D42525;
    --black: #000000;
    --black-lighter: #0D0D0D;
    --grey-dark: #1E1C1C;
    --grey: #282828;
    --grey-lighter: #363636; 
    --grey-light: #969696;
    --header-height: 68.8px;
    --spacer: 1.5rem;
    --border-radius: 12px;
    --app-opacity: .8;
    --font-1: 'NATS Regular', system-ui, sans-serif;
    --font-2: 'Roboto Slab', serif;
}

@font-face {
    font-family: 'NATS Regular';
    font-style: normal;
    font-weight: normal;
    src: url('/NATS-Regular.woff') format('woff');
}


/* .roboto-slab-<uniquifier> {
  font-family: var(--font-2);
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

body {
    margin: 0;
    font-family: var(--font-2);
    color: white;
    height: calc(100vh - 2rem);
    letter-spacing: 0.02em;
    line-height: 1.4;
}

h1, h2 {
    margin: 0;
    font-family: 'NATS Regular', system-ui, sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

a {
    color: var(--theme-yellow);
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

header {
    background-color: var(--black);
    padding: calc(var(--spacer)/2) var(--spacer);
}

.app {
    display: flex;
    background-color: var(--grey-lighter);
    box-sizing: border-box;
    width: 100vw;
    overflow: hidden;
    height: calc(100vh - var(--header-height));
}

.sidebar {
    background-color: var(--black-lighter);
    padding: var(--spacer);
    display: flex;
    flex-direction: column;
    gap: 3rem;
    
    & button {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        padding: 0;
        background: none;
        border: 0;
        color: var(--white);

        & span {
            font-family: 'NATS Regular', system-ui, sans-serif;
            text-transform: uppercase;
            letter-spacing: 0.1em;
        }

        & svg {
            height: var(--spacer);
            fill: #FFF;
        }


    }
}

.editor {
    padding: var(--spacer);
}

.help,
.editor {
    width: 100%;
}

.help {
    display: flex;
    flex-direction: column;
    gap: var(--spacer);
    padding: var(--spacer) var(--spacer) var(--spacer) 0;
    height: calc(100vh - var(--header-height));
    box-sizing: border-box;
}

main > section > div {
    /* flex: 1; */
    /* min-height: 0; */
    height: 100%;
}

.help__component {
    position: relative;
    overflow-x: scroll;
    border-radius: var(--border-radius);
    height: 100%;
    font-family: var(--font-2);
    letter-spacing: .15rem;
}

.help__component input {
    position: absolute;
    top: 1rem;
    right: 1rem;
    border: none;
    padding: 0.5rem 1rem;
    background-color: var(--grey-lighter);
    outline: none;
    color: white;
    width: 100px;
    border-top: 0;
    border-right: 0;
    
}
.help__component input::placeholder {
    color: white;
}

#circuit {
    padding: var(--spacer);
    background-color: var(--black-lighter);
}

.qc-circuit {
    margin-top: -1rem;
}
.qc-circuit line {
	stroke: var(--color-white)!important;
    stroke-width: 2px;
}

.qc-circuit text {
    font-size: .75rem;
    font-weight: bold;
}

.qc-circuit rect,
.qc-circuit circle {
    fill: var(--theme-blue-dark)!important;
	stroke: white!important;
}
.qc-circuit text {
    fill: var(--color-white);
	stroke: none!important;
}

.qc-wire-init {
    transform: translateX(-0.5rem);
}

.qc-circuit ellipse, 
.qc-circuit path {
    fill: transparent!important;
	stroke: var(--color-white)!important;
    stroke-width: 2px;
	cursor: grab;
}

.qc-circuit .qc-gate-label {
    fill: var(--color-white)!important;
    text-transform: lowercase;
}
.qc-wire-label {
    transform: translate(1px,-4px);
    fill: var(--color-white)!important;
}

.qc-gate-params {
    display: none;
}

.prism-code-editor {
    font-family: var(--font-2)!important;
    letter-spacing: .15rem;
}