:root {
    --theme-blue: #011627;
}

body {
    margin: 0;
    font-family: system-ui, sans-serif;
    background-color: var(--theme-blue);
    color: white;
    padding: 1rem;
    height: calc(100vh - 2rem);
}

main {
    display: flex;
    gap: 1rem;
    font-family: Consolas,Monaco,Andale Mono,Ubuntu Mono,monospace;
}

main > section {
    width: 50%;
}