#console {
    background-color: var(--black-lighter);
    padding: var(--spacer);
}

#console code {
    font-family: var(--font-2);
    color: var(--theme-orange)
}

.prism-code-editor {
    --editor__bg-highlight: transparent;
}

.console__messages {
    height: 100%;
    overflow-y: scroll;
    border-radius: 2.5px;
    line-height: 1.75;
}

.console__message {
    margin: 0 0 1rem 0;
}

.console__message--success {
    color: var(--theme-yellow);
}
.console__message--info {
    color: white;
}
.console__message--pattern-print {
    color: var(--theme-blue-light);
}