#console {
    background-color: var(--black-lighter);
    padding: var(--spacer);
}

#console code {
    font-family: 'NATS Regular', system-ui, sans-serif;
    color: var(--theme-orange)
}

.prism-code-editor {
    --editor__bg-highlight: transparent;
}

.console__messages {
    height: 100%;
    overflow-y: scroll;
    border-radius: 2.5px;
}

.console__message {
    margin: 0 0 .5rem 0;
}
.console__message--title {
    color: var(--theme-yellow);
    margin-top: -8px;
}
.console__message--success {
    color: var(--theme-yellow);
}
.console__message--info {
    color: white;
}
.console__message--pattern-print {
    color: var(--theme-blue-light);
}

.version {
    font-size: 0.8rem;
}