#console {
    background: var(--theme-blue-dark);
    padding: 1rem;
}

#console code {
    font-family: 'Fira Code', monospace;
    font-size: 1rem;
    color: var(--theme-orange)
}

.prism-code-editor {
    --editor__bg-highlight: transparent;
}

.console__messages {
    height: 100%;
    overflow-y: scroll;
    border-radius: 2.5px;
}

.console__message {
    margin: 0 0 1rem 0;
}
.console__message--title {
    color: var(--theme-yellow);
    font-size: 1.5rem;
}
.console__message--success {
    color: var(--theme-yellow);
}
.console__message--info {
    color: white;
}
.console__message--pattern-print {
    color: var(--theme-blue-light);
}

.version {
    font-size: 0.8rem;
    /* color: var(--theme-blue-light); */
}