#console {
    background: var(--theme-blue-dark);
    overflow-y: scroll;
    padding: 1rem;
    
}
.prism-code-editor {
    --editor__bg-highlight: transparent;
}
.console__message {
    margin: 0 0 1rem 0;
}
.console__message--title {
    color: var(--theme-yellow);
    font-size: 1.5rem;
}
.console__message--success {
    color: var(--theme-yellow);
}
.console__message--info {
    color: var(--theme-mauve);
}